<a href="https://colab.research.google.com/github/ksivaram2/Numpy-and-Pandas/blob/main/Copy_of_Welcome_to_Colaboratory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd

In [3]:
# Write a NumPy program to multiply two given arrays of same size element-by-element.
import numpy as np

a1 = np.array([1, 2, 3, 4])
a2 = np.array([12, 23, 13, 44])
result = np.multiply(a1, a2)

print(result)

[ 12  46  39 176]

In [4]:
# Write a NumPy program to find the missing data in a given array.
import numpy as np

data = np.array([1, 2, np.nan, 4, 5, np.nan])
missing_indices = np.where(np.isnan(data))[0]

print("Missing data indices:", missing_indices)

Missing data indices: [2 5]

In [6]:
# Write a NumPy program to test whether each element of a 1-D array is also present in a second array.
import numpy as np

array1 = np.array([1, 2, 3, 4, 5])
array2 = np.array([3, 5, 7, 9])

are_present = np.isin(array1, array2)

print("Presence of elements in array2:", are_present)

Presence of elements in array2: [False False  True False  True]

In [7]:
# Write a NumPy program to save a NumPy array to a text file.
arr_to_save = np.array([[1, 2, 3], [4, 5, 6]])

np.savetxt('saved_array.txt', arr_to_save, fmt='%d', delimiter=',')

In [8]:
# Write a NumPy program to Create a 1-D array of 30 evenly spaced elements between 2.5. and 6.5, inclusive.
import numpy as np

evenly_spaced_array = np.linspace(2.5, 6.5, 30)

print("Evenly spaced array:", evenly_spaced_array)

Evenly spaced array: [2.5        2.63793103 2.77586207 2.9137931  3.05172414 3.18965517
 3.32758621 3.46551724 3.60344828 3.74137931 3.87931034 4.01724138
 4.15517241 4.29310345 4.43103448 4.56896552 4.70689655 4.84482759
 4.98275862 5.12068966 5.25862069 5.39655172 5.53448276 5.67241379
 5.81034483 5.94827586 6.0862069  6.22413793 6.36206897 6.5       ]

In [9]:
# Write a Pandas program to convert Series of lists to one Series.
import pandas as pd

series_of_lists = pd.Series([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
one_series = series_of_lists.apply(pd.Series).stack().reset_index(drop=True)

print("Converted Series:")
print(one_series)

Converted Series:
0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [10]:
# Write a Pandas program to create a subset of a given series based on value and condition.
subset_condition = series_of_lists[series_of_lists.apply(lambda x: 5 in x)]

print("Subset based on condition:")
print(subset_condition)

Subset based on condition:
1    [4, 5, 6]
dtype: object

In [11]:
# Write a Pandas program to display most frequent value in a given series and replace everything else as &#39;Other&#39; in the series.
series_to_process = pd.Series([1, 2, 2, 3, 3, 3, 4, 4, 4, 4])
most_frequent_value = series_to_process.mode()[0]
series_to_process[series_to_process != most_frequent_value] = 'Other'

print("Processed Series:")
print(series_to_process)

Processed Series:
0    Other
1    Other
2    Other
3    Other
4    Other
5    Other
6        4
7        4
8        4
9        4
dtype: object

In [12]:
# Write a Pandas program to find the positions of numbers that are multiples of 5 of a given series.
numbers_series = pd.Series([5, 10, 15, 20, 25, 30])
positions_of_multiples_of_5 = numbers_series.index[numbers_series % 5 == 0].tolist()

print("Positions of multiples of 5:")
print(positions_of_multiples_of_5)

Positions of multiples of 5:
[0, 1, 2, 3, 4, 5]

In [13]:
# Write a Pandas program to calculate the number of characters in each word in a given series.
words_series = pd.Series(['apple', 'banana', 'cherry'])
word_lengths = words_series.apply(lambda x: len(x))

print("Word lengths:")
print(word_lengths)

Word lengths:
0    5
1    6
2    6
dtype: int64

In [14]:
# Write a Pandas program to convert year-month string to dates adding a specified day of the month.
year_month_series = pd.Series(['2022-01', '2022-02', '2022-03'])
dates_series = pd.to_datetime(year_month_series + '-15')

print("Converted Dates:")
print(dates_series)

Converted Dates:
0   2022-01-15
1   2022-02-15
2   2022-03-15
dtype: datetime64[ns]

In [15]:
# Write a Pandas program to create and display a DataFrame from a specified dictionary data which has the index labels.
data_dict = {'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35]}
df = pd.DataFrame(data_dict, index=['A', 'B', 'C'])

print("DataFrame:")
print(df)

DataFrame:
      Name  Age
A    Alice   25
B      Bob   30
C  Charlie   35

In [16]:
# Write a Pandas program to select the rows where the number of attempts in the examination is greater than 2.
import pandas as pd

exam_data = {'Name': ['Alice', 'Bob', 'Charlie'], 'Attempts': [1, 3, 2]}
exam_df = pd.DataFrame(exam_data)

selected_rows = exam_df[exam_df['Attempts'] > 2]

print("Selected Rows:")
print(selected_rows)

Selected Rows:
  Name  Attempts
1  Bob         3

In [17]:
# Write a Pandas program to append a new row &#39;k&#39; to data frame with given values for each column. Now delete the new row and return the original DataFrame.
import pandas as pd

data = {'Name': ['Sivaram', 'anjan', 'sainath', 'dheeraj']}
df = pd.DataFrame(data)

new_row_values = {'Name': 'dheeraj'}

print("DataFrame with New Row:")
print(df)

df = df.drop(df[df['Name'] == 'dheeraj'].index)
print("\nOriginal DataFrame after Deleting 'dheeraj':")
df

DataFrame with New Row:
      Name
0  Sivaram
1    anjan
2  sainath
3  dheeraj

Original DataFrame after Deleting 'dheeraj':

      Name
0  Sivaram
1    anjan
2  sainath

In [18]:
#Write a Pandas program to sort the DataFrame first by &#39;name&#39; in descending order, then by &#39;score&#39; in ascending order.
# Assuming the DataFrame 'df_to_sort' from the previous examples
df_to_sort = pd.DataFrame({'Name': ['Alice', 'Bob', 'Charlie'], 'Score': [80, 90, 75]})

sorted_df = df_to_sort.sort_values(by=['Name', 'Score'], ascending=[False, True])

print("Sorted DataFrame:")
print(sorted_df)

Sorted DataFrame:
      Name  Score
2  Charlie     75
1      Bob     90
0    Alice     80

In [19]:
# Write a Pandas program to replace the &#39;qualify&#39; column contains the values &#39;yes&#39; and &#39;no&#39; with True and False.
data = {'name': ['Sivaram', 'Sainath', 'dheeraj', 'anjan'],
        'score': [90, 85, 75, 95],
        'qualify': ['yes', 'yes', 'no', 'yes']}

df = pd.DataFrame(data)


df_sorted = df.sort_values(by=['name', 'score'], ascending=[False, True])
print("Sorted DataFrame:")
df_sorted

Sorted DataFrame:

      name  score qualify
2  dheeraj     75      no
3    anjan     95     yes
0  Sivaram     90     yes
1  Sainath     85     yes

In [20]:
# Write a Pandas program to remove infinite values from a given DataFrame.
import pandas as pd
import numpy as np
data = {'A': [1, 2, np.inf, 4],
        'B': [5, np.inf, 7, 8]}
df = pd.DataFrame(data)
df.replace([np.inf, -np.inf], np.nan, inplace=True)
df_cleaned = df.dropna()
print("DataFrame after removing infinite values:")
print(df_cleaned)

DataFrame after removing infinite values:
     A    B
0  1.0  5.0
3  4.0  8.0